#title {
    font-size: 4rem;
    margin: 2rem;
}

#imgandtext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#text {
    margin-top: 5rem;
    font: bolder;
    font-size: 3rem;
    width: 20%;
}

#gotogames{
    background-color: chartreuse;
    padding: 2px 2px;
    width: 200px;
    height: 100px;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    margin-left: 40%;
    border: darkgreen solid;
    border-radius: 15px;
    font-size: large;
    display: flex;
    text-align: center;
    justify-items: center;
    margin-top: 5%;
    text-decoration: solid;
    color: black;
    padding: auto;
    font-display: center;
    appearance:inherit;
    font-size: 2rem;
    font-style: oblique;
}

